.container {
  margin: 20px 0px 40px 60px;
}

.country {
cursor: pointer;
}

.capital {
display: none;
cursor: pointer;
}

.country:hover .capital {
display: inline;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-top: 80px;
}

.right {
  right: 0;
}
