.container {
  margin: 35px 0px 40px 60px;
}

.country {
cursor: pointer;
}

.capital {
display: none;
cursor: pointer;
}

.country:hover .capital {
display: inline;
}

.currency:hover {
  color: red;
}



